:root {
    --blue-dark: #348792;
    --blue-light: #47a1ac;
    --white-normal: #fff;
    --white-dark: #e2e2e2;
}

body {
    padding: 0;
    margin: 0;
    background: var(--white-dark);
}
/*--- navigation bar ---*/
.navbar {
    background: var(--blue-light);
}

.nav-link,
.navbar-brand {
    color: var(--white-normal);
    cursor: pointer;
}

.navbar-logo{
    width: 91px;
    height: 51px;
}

.nav-link {
    margin-right: 1em !important; }
.nav-link:hover {
    color: var(--white-dark);
}

.navbar-collapse { justify-content: flex-end; }

.header {
    background-image: url('images/image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {

    position: absolute; min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%); text-align: center;
}

.description h1 {
    color: var(--blue-light);
}

.description p {
    color: var(--white-normal);
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border:1px solid var(--blue-light);
    background: var(--blue-light);
    border-radius: 0;
    color: var(--white-normal);
}

.description button:hover {
    border:1px solid var(--blue-dark);
    background: var(--blue-dark);
    color: var(--white-dark);
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.features .form-control,
.features input {
    border-radius: 0;
}

.features .btn {
    background-color: var( --blue-light);
    border: 1px solid var( --blue-light);
    color: var(--white-normal);
    margin-top: 20px;
}

.features .btn:hover {
    background-color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
}

/*--- footer ---*/
.page-footer {
    background-color: #222;
    color: var(--white-normal);
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

